* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1bbfaf;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  text-align: center;
  width: 70vh;
  height: 50vh;
  background-color: #f0cf26;
  border-radius: 3px 3px;
}

.card {
  width: 50vh;
  height: 50vh;
  background-image: url("assets/calculator.jpg");
  background-size: 50vh 60vh;
  background-repeat: no-repeat;
}

.box {
  margin: 0 90px 0 0;
}

.container h1 {
  margin: 15px;
}

.container p {
  margin: 15px;
}

.container select {
  position: relative;
  width: 150px;
  font-size: medium;
  padding: 5px;
  border-radius: 5px 5px;
}

.container input {
  padding: 5px;
  border-radius: 5px 5px;
}

.container button {
  padding: 5px;
  border-radius: 3px 3px;
}

.divTabelaPizzas table {
  margin: 50px 10px;
  width: 100%;
}

table {
  margin: 5px;
}

table th {
  margin: 2px;
  padding: 5px;
}

table td {
  margin: 2px;
  padding: 5px;
}
